# Python virtual environment
.venv
venv/
env/
*.pyc
__pycache__/
data/lab1/checkpoints/
data/
lab1/checkpoints/complete_NN.pkl
img_align_celeba/
img_align_celeba/img_align_celeba
lab3/common_voice_mn/
lab3/whisper-md-mnTranslate_v0/.venv_hfpush/

lab3/whisper-md-mn/results/checkpoint-5000/rng_state.pth
lab3/whisper-md-mn/results/checkpoint-5500/rng_state.pth
.gitignore
lab3/whisper-md-mnTranslate_v0/results/checkpoint-5000/rng_state.pth
lab3/whisper-md-mnTranslate_v0/results/checkpoint-5500/rng_state.pth
lab3/whisper-md-mn/results/checkpoint-6000/rng_state.pth
lab3/whisper-md-mnTranslate_v0/results/checkpoint-6000/rng_state.pth
lab3/whisper-md-mn/results/runs/Apr14_13-49-14_ToruDev-System-Product-Name/events.out.tfevents.1776145754.ToruDev-System-Product-Name.11008.0
lab3/whisper-md-mnTranslate_v0/results/runs/Apr14_13-49-14_ToruDev-System-Product-Name/events.out.tfevents.1776145754.ToruDev-System-Product-Name.11008.0
lab3/whisper-md-mnTranslate_v0/results/runs/Apr14_19-00-51_ToruDev-System-Product-Name/events.out.tfevents.1776164451.ToruDev-System-Product-Name.57959.0
lab3/whisper-md-mnTranslate_v0/results/runs/Apr14_19-00-51_ToruDev-System-Product-Name/events.out.tfevents.1776178467.ToruDev-System-Product-Name.57959.1
lab3/whisper-md-mnTranslate_v0/.gradio/certificate.pem
lab3/whisper-md-mn/.gradio/certificate.pem
lab3/whisper-md-mn/results/runs/Apr14_13-49-14_ToruDev-System-Product-Name/events.out.tfevents.1776160848.ToruDev-System-Product-Name.11008.1
