# Python virtual environment
.venv
venv/
env/
*.pyc
__pycache__/
data/lab1/checkpoints/
data/
lab1/checkpoints/complete_NN.pkl
img_align_celeba/
img_align_celeba/img_align_celeba
lab3/dataset
lab3/dataset/1774205023748-cv-corpus-25.0-2026-03-09-mn/
